:root {
  /* --primary-color: #s; */
  --primary-color: #8e79fc;
  --second-color: #88eaff;
  --text-color: #fff;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgb(255, 255, 255);
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 74vh;
  position: relative;
  background: url("../img/background.png") no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--second-color);
  opacity: 0.5;
  box-shadow: inset 120px 100px 250px #fff, inset -120px -100px 250px #fff;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 210px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: rgb(46, 101, 173);
  font-weight: 400;
  font-size: 1.9rem;
  margin: 0 0 2rem;
}

/* Tabs */
.tabs {
  background: var(--primary-colors);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div {
  padding: 1.5rem 0;
}

.tabs .container > div:hover {
  color: #fff;
  background-color: #88eaff;
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 6px solid;
}

/* Tab Content */
.tab-content {
  padding: 3rem 0;
  background: #fff;
  color: var(--primary-color);
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Container */
.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles */
.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}
.text-dark {
  color: #999;
}
.text-md {
  font-size: 1.5rem;
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--text-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.bnt:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
  margin-right: -15px;
}

.btn-lg {
  font-size: 1.1rem;
  padding: 1.2rem 1.3rem;
  text-transform: uppercase;
}

/* Footer */
.footer {
  align-content: center;
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 1.9;
}

@media (max-width: 960px) {
  .showcase {
    height: 150vh;
  }
  /* Text goes away */
  .hide-sm {
    display: none;
  }

  /* Logo goes to Left */
  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 1rem;
  }
  .btn-lg {
    font-size: 0.6rem;
    padding: 0.7rem 0.7rem;
  }
  .btn-rounded {
    border-radius: 3px;
    padding: 0.4rem 0.5rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }
  .text-lg {
    font-size: 0.8rem;
  }
  .text-md {
    font-size: 0.6rem;
  }
  .iframe-container {
    position: relative;
    width: 60%;
    padding-top: 30%;
    padding-bottom: 30%;
    height: 30;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .gif {
    width: 100%;
    height: 0;
    padding-bottom: 600%;
    position: absolute;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 40%;
    text-align: center;
    transform: translate(-21%, -0%);
  }
}

/* Youtube video */
.iframe-container {
  position: relative;
  width: 60%;
  padding-top: 30%;
  padding-bottom: 30%;
  height: 30;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.gif {
  width: 100%;
  height: 0;
  padding-bottom: 130%;
  position: relative;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 40%;
  text-align: center;
  transform: translate(-21%, -0%);
}
